


.container {
    max-width: 600px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}


#display{
   text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}


.button{
    border:none;
    border-radius:10x;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;

    border: none;
    border-radius: 10px;
   background-color:  #e5e4e0;
 
}

#reset {

    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer; 
    background-color: #388187;
    color:#fff;
    
    
}
#equal { 
   
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    background-color:#c85402;
 
    

 
}
.buttons{
  
  
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap:20px;
    padding:20px;
    background-color:#d3cdcd;
    border-radius: 10px;
 

  ;
}
.del{

   background-color:#c85402;
 

  color: white;
 

}

